out/*
out
.swp
*.ipr
*.iws
*.iml
*.eml
*.bak
.idea/workspace.xml
**/.idea/workspace.xml
test-output/*
test-output
build/*
build
.git/*
.git
.idea
.classpath
.metadata/*
.metadata
.project
.settings/*
.settings
finalReport/*
finalReport
OCRScreens
OCRScreens/*


/bin
